<!DOCTYPE html>
<!--Project css-->
<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">

<!--Website icon-->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='cloud-computing.png') }}">

<!--Website title-->
<head>
    <title>Phrase Cloud</title>
</head>

<!--Website header with mail, github and linkedin link-->
<header>
    <a style="padding:0 0.5rem" href="http://franktcao.github.io"><img
            src="{{ url_for('static', filename='home_sm.png') }}"></a>
    <a style="padding:0 0.5rem" href="mailto:franktcao@gmail.com"><img
            src="{{ url_for('static', filename='email.png') }}"></a>
    <a style="padding:0 0.5rem" href="https://github.com/franktcao" target="_blank"><img
            src="{{ url_for('static', filename='github.png') }}"></a>
    <a style="padding:0 0.5rem" href="https://www.linkedin.com/in/franktcao/" target="_blank"><img
            src="{{ url_for('static', filename='linkedin.png') }}"></a>
</header>

<body>

<div class="content">

    <!--
    1. Split into 2 columns
    2. 1st column will be the text message
    3. 2nd column will be the resulting word cloud
    -->
    <div class="box-header">
        <div class="page-title">
            <h1>Phrase Cloud</h1>
            <h2>Submit text to make a phrase/word cloud</h2>
        </div>
        <div class="main-photo" style="background-image: url('{{ url_for('static', filename='lauren-peng-CTRklBY9fKc-unsplash.jpg')  }}');">
        </div>
        <div class="photo-cred">
            [ Background photo by <a href="https://unsplash.com/@laurenpeng_">Lauren Peng on Unsplash</a> ]
        </div>
    </div>

    <hr>


    <!--
    1. Create a form with text input and submit button
    2. Obtain the input message and pass it into the code
    -->
    <form method="post">
        <table width="100%">
            <tr>
                <td width="85%">
                    <h3>Add phrases to make a phrase cloud!</h3>
                    <label for="message"></label>
                    <textarea name='message' id="message" required>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec purus ante. In eget tortor consequat, tempus justo eget, pellentesque risus. Sed scelerisque ligula nec tristique rhoncus. Suspendisse id arcu metus. Integer sed rutrum tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla at tellus nisi. Maecenas fringilla ligula lobortis ante aliquet commodo. Mauris aliquam dolor in mauris vehicula, non malesuada tortor tempus. Ut felis nulla, auctor in fringilla sit amet, aliquet a elit. Aenean ut convallis augue, ac placerat ipsum. Phasellus egestas feugiat faucibus. Fusce laoreet nulla et tortor aliquam tincidunt.

Sed vitae nisi in quam euismod dictum vitae nec metus. Nullam felis lacus, finibus id est at, sodales ultrices dolor. Nam laoreet non dui sed porta. Mauris mollis urna et tellus suscipit eleifend nec ut nisi. Donec eget scelerisque risus, tincidunt dignissim magna. Fusce blandit tortor nec est consequat, eget sollicitudin tortor elementum. Nam sodales ultricies diam, id porttitor nisi vehicula sed. Curabitur dictum commodo neque, vel laoreet felis bibendum nec. Nunc commodo finibus malesuada. Nunc mollis auctor vulputate. Etiam faucibus eget ligula vel suscipit. Nam efficitur, nulla quis pellentesque rutrum, mi dolor ullamcorper tellus, nec sagittis est ipsum ut risus. Vivamus id magna sed purus vestibulum egestas non et arcu. Mauris consequat nibh in neque cursus pulvinar. Vestibulum feugiat sem eget sem porttitor, at commodo nisl scelerisque. Mauris tincidunt diam vel felis convallis, nec sodales dui scelerisque.</textarea>
                </td>
                <td width="15%">
                    <button>Submit</button>
                </td>
            </tr>
        </table>
    </form>

    <br>
    <br>

    <!--Block content for the output, a result html will inherit this base html-->
    {% block content %}
    {% endblock %}

    <br>
    <br>
</div>

<footer style="padding-bottom: 3px">
    <hr>
    <p style="font-size:0.75em">Credit</p>
    <ol>
        <li style="font-size:0.5em">
            Template built from
            <a href="https://towardsdatascience.com/build-a-simple-zero-downtime-nlp-web-application-on-cloud-for-free-50d9e4f3f9c4">
                Build a simple zero downtime NLP web application on cloud for free
            </a>
        </li>
        <li style="font-size:0.5em">
            Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" target="_blank">Pixel perfect</a>
            from <a href="https://www.flaticon.com/" target="_blank">Flat Icon</a>
        </li>
    </ol>
</footer>
</body>
